/*
	Global stylesheet
*/

#main {
  width: clamp(350px, 70vw, 1000px);
  font-size: clamp(0.9rem, 0.7923rem + 0.4923vw, 1.1rem);
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.footer-contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.text-muted {
  color: gray;
  font-weight: 100 !important;
}

.text-nowrap {
  white-space: nowrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

[data-tooltip]:before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  display: none;

  /* customizable */
  transition: all 0.15s ease;
  padding: 5px 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover:before {
  /* needed - do not touch */
  display: inline-block;
  animation: fadeIn 0.3s;

  /* customizable */
  background: #343a40;
  color: white;
  font-weight: initial;
  font-size: initial;
  margin-top: -40px;
  margin-left: -20px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}
