#threed-container {
    border: 4px solid lightgray;
    border-radius: 4px;
}

#c {
  width: 100%;
  height: 100%;
}

#threed-controls {
  user-select: none;
  border: 4px solid lightgray;
  border-radius: 4px;
  overflow: auto;
}

#threed-controls h2 {
  margin: 0;
  display: inline-block;
}

#input-grid {
  margin: 1rem auto;
  max-width: 325px;
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  justify-items: stretch;
  align-items: stretch;
}

#threed-controls-grid {
  margin: 1rem auto;
  max-width: 325px;
  display: grid;
  row-gap: 1.25rem;
  column-gap: 10px;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  justify-items: stretch;
  align-items: stretch;
}

#camera-sliders {
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  justify-items: stretch;
  align-items: stretch;
}

#view-sliders {
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  justify-items: stretch;
  align-items: stretch;
}

#camera-sliders-toggle-icon,
#view-sliders-toggle-icon {
  cursor: pointer;
}

.gutter {
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}
