#map-controls,
#threed-controls {
  min-width: 750px;
  border: 4px solid lightgray;
  border-radius: 4px;
  overflow: auto;
  display: flex;
}

#map-controls > *,
#threed-controls > * {
  flex: 1 1 50%;
}

#map-input-grid {
  margin: 1rem 0;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  justify-items: stretch;
  align-items: stretch;
}

#map-output-grid {
  margin: 1rem 0;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  justify-items: stretch;
  align-items: stretch;
}

#threed-controls {
  user-select: none;
}

#threed-controls h2 {
  margin: 0;
  display: inline-block;
}

#input-grid {
  margin: 1rem auto;
  max-width: 325px;
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  justify-items: stretch;
  align-items: stretch;
}

.threed-controls-menu {
  margin: 1rem;
}

#camera-sliders {
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  justify-items: stretch;
  align-items: stretch;
}

#view-sliders {
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  justify-items: stretch;
  align-items: stretch;
}

#camera-sliders-toggle-icon,
#view-sliders-toggle-icon {
  cursor: pointer;
}
