#plot-container {
    text-align: center;
    border: 4px solid lightgray;
    border-radius: 4px;
}

#map-controls {
    border: 4px solid lightgray;
    border-radius: 4px;
    overflow: auto;
}

#map-grid {
    margin: 1rem auto;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
    justify-items: stretch;
    align-items: stretch;
}

.numberCircle {
    display: inline-block;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 800 !important;
    color: lightblue;
    border: 2px solid skyblue;
    cursor: pointer;
}

.x-gridlines line,
.y-gridlines line {
    stroke: #ddd;
}

.x-gridlines .tick,
.y-gridlines .tick {
    opacity: 0.5;
}

.x.axis.title text,
.y.axis.title text {
    font-weight: 800 !important;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 250px;
    height: 3.5em;
    padding: 2px;
    font: 12px sans-serif;
    background: #ccc;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
