/* 
  HEADER
*/

.introduction {
  margin: 0 0 1em 0;
}

.introduction p {
  margin: 0 0 1em 0;
  text-transform: none;
  letter-spacing: 0.1em;
}

.page-nav-list {
  text-transform: capitalize;
}

.page-nav-list ul {
  margin-bottom: 0.75em;
}

.profile {
  padding: 0 1.5em 0 1.5em;
}

.profile img {
  width: 100%;
  border-radius: 4px;
}

.contact-list {
  text-transform: none;
  text-align: left;
  letter-spacing: 1px;
  background-color: #f4f4f4;
  border-left: 2px solid #ccc;
}

.contact-list ul {
  margin: 0.5em 0 0 0;
  padding: 0.5em 0 0.5em 1em;
  list-style: none;
}

/* 
  BODY
*/

.section-header {
  padding-bottom: 0.75rem;
}

.section-content {
  margin-bottom: 1rem;
}

.showhide {
  display: inline;
  cursor: pointer;
}

[id^="toggle"],
[id^="toggle"] + * {
  display: block;
}

[id^="toggle"]:checked + * {
  display: none;
}

.card-grid {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 1rem;
}

.card {
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 4px;
}

.card:hover {
  border-color: lightgrey;
}

.teaser img {
  width: 100%;
  min-width: 175px;
  border-radius: 4px;
}

.details {
  min-width: 225px;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.5rem;
  padding: 0.5rem;
  flex-grow: 4;
}

.details-title {
  font-size: clamp(1rem, 0.9358rem + 0.2936vw, 1.2rem);
  font-weight: 800 !important;
}

.details-authors,
.details-desc {
  color: gray;
  font-weight: 100 !important;
}

.details-venue {
  font-style: italic;
}

.details-links {
  white-space: nowrap;
  font-weight: 800 !important;
}

.highlights-grid {
  margin: 0.5rem;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: 0; 
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-gap: 1rem;
}

.highlights-date {
  text-align: right;
}

.highlights-title {
  font-weight: 800 !important;
}

.highlights-desc a {
  color: #313f47;
  font-weight: 600 !important;
}

/* 
  FOOTER
*/

.contact {
  line-height: 1.75rem;
  background-color: #e4f2ff;
  border-left: 2px solid #96ccff;
}

.contact-bio {
  min-width: 250px;
  text-transform: none;
  letter-spacing: 1px;
  padding: 0.5rem;
}

.contact-card {
  min-width: 250px;
  padding: 0.5rem;
}

.contact-card-address {
  letter-spacing: 1px;
}

.contact-card-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
