/* 
  HEADER
*/

#header-panel {
  max-width: 800px;
  margin: 0 auto;
}

.header-text {
  flex: 1.5;
  min-width: 256px;
}

.introduction {
  margin: 0 1rem 1rem 1rem;
  text-align: left;
}

.introduction p {
  margin-bottom: 1rem;
  line-height: 1.5;
  text-transform: none;
  letter-spacing: 0;
}

.header-links {
  flex: 1;
  min-width: 256px;
  max-width: 256px;
}

.profile {
  margin: 0 1rem;
}

.profile img {
  width: 100%;
  border-radius: 4px;
}

.profile-links {
  text-transform: none;
  text-align: left;
  letter-spacing: 1px;
}

.profile-links-pages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.profile-links-pages * {
  justify-self: center;
}

.profile-links-contact {
  margin: 0;
  padding: 0.5rem 0em;
  list-style: none;
}

.profile-links-contact li a span {
  display: inline-block;
  text-align: center;
  width: 25px;
}

/* 
  BODY
*/

.section-header {
  padding-bottom: 0.75rem;
}

.section-content {
  margin-bottom: 1rem;
}

.showhide {
  display: inline;
  cursor: pointer;
}

[id^="toggle"],
[id^="toggle"] + * {
  display: block;
}

[id^="toggle"]:checked + * {
  display: none;
}

.card-grid {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-gap: 1rem;
}

.card {
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
}

.card-border {
  border-color: lightgrey;
}

.teaser {
  box-shadow: 0 0 0.25rem lightgrey;
}

.teaser:hover {
  box-shadow: 0 0 0.5rem grey;
}

.teaser,
.logo {
  min-width: 170px;
  border-radius: 4px;
}

.teaser img,
.logo img {
  padding: 1px;
  width: 100%;
}

.details {
  min-width: 265px;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.5;
  padding: 0.5rem;
  flex-grow: 4;
}

.details-title {
  font-size: clamp(1.1rem, 0.9923rem + 0.4923vw, 1.3rem);
  font-weight: 600 !important;
  padding-bottom: 0.25rem;
}

.details-authors,
.details-desc,
.details-venue,
.details-links {
  font-size: clamp(0.8rem, 0.6923rem + 0.4923vw, 1rem);
}

.details-authors,
.details-desc {
  color: gray;
  font-weight: 100 !important;
}

.details-venue {
  font-style: italic;
}

.details-links {
  white-space: nowrap;
  font-weight: 800 !important;
}

.highlights-grid {
  margin: 0.5rem;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: 0;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-gap: 1rem;
}

.highlights-title,
.highlights-date,
.highlights-desc a {
  font-weight: 600 !important;
}

.highlights-date {
  text-align: right;
}

.highlights-desc a {
  color: #313f47;
}

/* 
  FOOTER
*/

#footer {
  padding-top: 1rem;
}
