/* GENERAL */
#header {
  display: none;
  opacity: 0;
}
.section-header {
  margin-bottom: 1.5rem;
}
.section-header-text {
  font-weight: 700;
  line-height: 2.5;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid darkseagreen;
}
.section-content {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 773px) {
  .section-content {
    width: 100%;
  }
}

/* SUMMARY */
#summary {
  /* padding: 0 2.5rem; */
  column-gap: 2rem;
}
.summary-text {
  flex: 1.5;
  min-width: 325px;
  justify-content: start;
}
@media only screen and (max-width: 673px) {
  .summary-text {
    min-width: 256px;
  }
}
/* ABOUT ME */
.introduction {
  text-align: left;
}
.introduction-title {
  font-size: 28pt;
  font-weight: 900;
}
.introduction-title > span {
  letter-spacing: 1px;
  line-height: 2.5;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid darkseagreen;
}
@media only screen and (max-width: 886px) {
  .introduction-title {
    font-size: 26pt;
    font-weight: 900;
    text-align: center;
  }
}
@media only screen and (max-width: 486px) {
  .introduction-title {
    font-size: 24pt;
    font-weight: 700;
    text-align: center;
  }
}
.introduction p {
  margin-bottom: 1rem;
  line-height: 1.5;
  text-transform: none;
  letter-spacing: 0;
}
.introduction ul.list {
  margin-inline-start: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-transform: none;
  letter-spacing: 0;
}
.introduction ul.list li {
  display: inline-block;
}
.introduction ul.list li:before {
  content: "";
  display: list-item;
  position: absolute;
}
/* PROFILE */
.summary-links {
  flex: 1;
  min-width: 256px;
  max-width: 256px;
}
.profile {
  width: 256px;
  margin: 0 auto;
}
.profile img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: -12px;
}
.profile-links {
  width: 240px;
  margin: auto;
  text-transform: none;
  text-align: left;
  letter-spacing: 0;
  background-color: rgba(0 0 0 / 0.025);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.profile-links-pages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.profile-links-pages * {
  justify-self: center;
}
.profile-links-contact {
  margin: 0;
  padding: 6px 12px 12px 12px;
  list-style: none;
}
.profile-links-contact li {
  font-weight: 700;
  font-size: 16px;
  padding-left: 0;
  height: 26px;
}
.profile-links-contact li.name {
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
}
.profile-links-contact li a {
  white-space: nowrap;
  /* background: #4263a615; */
  padding: 3px 8px 3px 4px;
  border-radius: 6px;
}
.profile-links-contact li a span.icon {
  display: inline-block;
  text-align: center;
  width: 25px;
}
.profile.only-when-small {
  margin-bottom: 1rem;
  opacity: 0;
  display: none;
}
.profile.only-when-big {
  margin-top: 1.5rem;
  opacity: 1;
  display: block;
}
@media only screen and (max-width: 886px) {
  .profile.only-when-small {
    opacity: 1;
    display: block;
  }
  .profile.only-when-big {
    opacity: 0;
    display: none;
  }
}

/* PUBLICATIONS, EMPLOYMENT, EDUCATION, AWARDS, NEWS, PROJECTS */
.card-grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
}
.card {
  padding: 18px;
  margin-bottom: 12px;
  gap: 12px;
  align-content: flex-start;
  border-radius: 12px;
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
  background: rgba(0 0 0 / 0.025);
  -webkit-transition: background-color 100ms linear, transform 0.2s ease-in-out;
  -ms-transition: background-color 100ms linear, transform 0.2s ease-in-out;
  transition: background-color 100ms linear, transform 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.025);
  background: rgba(0 0 0 / 0.05);
  -webkit-transition: background-color 100ms linear, transform 0.2s ease-in-out;
  -ms-transition: background-color 100ms linear, transform 0.2s ease-in-out;
  transition: background-color 100ms linear, transform 0.2s ease-in-out;
}
/* TEASER, LOGO */
@media only screen and (min-width: 872px) {
  .card-teaser {
    height: 148px;
  }
}
.card-teaser * {
  height: 100%;
}
.card-teaser,
.card-logo {
  min-width: 198px;
  overflow: hidden;
  background-color: transparent;
}
.card-teaser img,
.card-logo img {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}
.card-teaser img {
  padding-bottom: 16px;
  border-bottom: solid 1px #ccc;
}
@media only screen and (min-width: 773px) and (max-width: 866px) {
  .card-teaser img {
    padding-bottom: 0px;
    border-bottom: none;
  }
}
/* DETAILS */
.card-details {
  min-width: 229px;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.1;
  flex-grow: 4;
}
.card-details > * {
  margin: 4px 0;
}
.card-details img {
  margin: 0;
}
.card-details-title {
  font-size: 20px;
}
.card-details-title {
  font-weight: 900;
}
.card-details-award {
  margin-bottom: 6px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 700;
  color: var(--awards-icon-color);
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
}
.card-details-position,
.card-details-authors,
.card-details-desc,
.card-details-venue,
.card-details-links {
  font-size: 14px;
  color: #6a6a6a;
}
.card-details-position {
  font-weight: 700 !important;
}
.card-details-venue {
  font-weight: 700;
  font-style: italic;
}
.card-details-links {
  font-weight: 600 !important;
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
}
.card-details-links a {
  white-space: nowrap;
  background: #4263a615;
  padding: 6px 12px;
  border-radius: 6px;
}

.awards-grid {
  margin: 0.5rem;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: 0;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  row-gap: 0.75rem;
  column-gap: 1rem;
}
.awards-date {
  font-weight: 600 !important;
  color: grey;
  text-align: right;
}

/* HIGHLIGHTS */
.highlights-grid {
  margin-left: 2.5rem;
  line-height: 1.6rem;
  text-transform: none;
  letter-spacing: 0;
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
}
.highlights-date-year {
  font-weight: 600 !important;
  color: grey;
  text-align: right;
  margin-right: 1rem;
}
.highlights-date-month {
  font-weight: 600 !important;
  color: grey;
  text-align: right;
  margin-right: 0.6rem;
}
.highlights-title {
  font-weight: 600 !important;
}
@media only screen and (max-width: 623px) {
  .highlights-grid {
    margin: 0;
    grid: auto / repeat(1, 1fr);
  }
  .highlights-grid > *:nth-child(3n) {
    margin-bottom: 1.5rem;
  }
  .highlights-date-year,
  .highlights-date-month {
    margin-right: 0;
    text-align: left;
  }
}
.news-icon {
  margin-right: 4px;
  width: 24px;
  text-align: right;
  display: inline-block;
}
