/**
 * Adam Coscia
 * Contact: acoscia125 \[at\] gmail \[dot\] com
 */

:root {
  --highlights-icon-color: #2b2b2b;
  --presentations-icon-color: #d62728;
  --publications-icon-color: #2ca02c;
  --projects-icon-color: #e377c2;
  --education-icon-color: #1f77b4;
  --employment-icon-color: #17becf;
  --awards-icon-color: #ff7f0e;
}

body {
  font-family: "Lato", "arial", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}
a {
  color: #357edd;
}
a span.alabel {
  text-decoration: underline solid transparent;
}
a:hover span.alabel {
  text-decoration: underline solid Currentcolor;
}
#wrapper {
  min-height: 0;
  scroll-behavior: smooth;
}
#main {
  padding: 1.5rem 3rem;
  width: clamp(350px, 80vw, 1000px);
  scroll-behavior: smooth;
  border-radius: 12px;
}
@media only screen and (max-width: 846px) {
  #main {
    padding: 1rem 2rem;
  }
}
#header p {
  margin: 0 0 1rem 0;
}
.header-title {
  font-size: 28pt;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid darkseagreen;
}
@media only screen and (max-width: 886px) {
  .header-title {
    font-size: 26pt;
    font-weight: 900;
  }
}
@media only screen and (max-width: 486px) {
  .header-title {
    font-size: 24pt;
    font-weight: 700;
  }
}
.header-links a span.alabel {
  margin-left: -4px;
}
#footer {
  padding-top: 1rem;
}
.footer-contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex: 1;
}
.text-muted {
  color: gray;
  font-weight: 100 !important;
  white-space: nowrap;
}
.text-nowrap {
  white-space: nowrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/** TOOLTIP */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
[data-tooltip]:before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  display: none;

  /* customizable */
  transition: all 0.15s ease;
  padding: 5px 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}
[data-tooltip]:hover:before {
  /* needed - do not touch */
  display: inline-block;
  animation: fadeIn 0.3s;

  /* customizable */
  background: #343a40;
  color: white;
  font-weight: initial;
  font-size: initial;
  margin-top: -40px;
  margin-left: -20px;
}
[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}
