/* 
  NAVIGATION 
*/

.page-nav {
  margin: 0 0 1em 0;
}

.page-nav-title {
  text-align: right;
  margin: 0 0.5em 0 0;
}

.page-nav-list {
  margin: 0 0 0 0.5em;
}

.page-nav-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: left;
}

/* 
  CONTENT 
*/

.section-header {
  padding-bottom: 0.75rem;
}

.showhide {
  display: inline;
  cursor: pointer;
}

.news {
  text-align: left;
}

.news ul {
  list-style: none;
  letter-spacing: 0.1em;
  text-transform: none;
  padding: 0;
}

.news ul li {
  border: none;
}

.item-title {
  font-size: 11pt;
  margin: 0 0 0.25em 0;
}

.item-title a {
  display: inline;
}

.item-content {
  margin: 0 0 1em 0;
  padding-left: 1em;
  font-size: 9pt;
  background-color: #f4f4f4;
  border-left: 2px solid #ccc;
}

.item-content a {
  display: contents;
}
